@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");
#anaKutu{
    border: solid 2px;
padding: 20px 10px;
    border-radius: 10px;
    width: 400px;
    
}
#name,#number{
    border: solid 1px;
margin: 0 6px;
    height: 30px;
    width: 150px;
border-radius: 10px;
}
#number{
    margin-right: 20px;
}
#add{
    margin-top: 10px;
    border-radius: 10px;
    border: solid 1px;

    height: 30px;
    width: 300px;
    background-color: white;
}
#formKutu,#listKutu{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
#search{
    border: solid 1px;
    margin: 0 17px 0 6px;
        height: 30px;
        width: 335px;
    border-radius: 10px;
    margin-bottom: 10px;
}
ul{
    list-style: none;
    padding-left: 0px;
    margin-top: 0;
}
li{
    display: flex;
    justify-content: space-between;
    width: 310px;
}